
@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="filter"></i></div>
                            Blog List
                        </h1>
                        <div class="page-header-subtitle">Explore the latest blog posts categorized for easy navigation. Stay updated with insightful articles on various topics that align with your interests and needs.</div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                Extended DataTables
                <button class="btn btn-success">Import Excel</button>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Srno</th>
                            <th>BlogTitle</th>
                            <th>MetaTitle</th>
                            <th>Category</th>
                            <th>MetaDescription</th>
                            <th>Slug</th>
                            <th>Image</th>
                            <th>Created_dt</th>
                            <th>BlogDescription</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int SrNo = 1;
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@SrNo</td>
                                <td class="blog-description" data-full="@item.BlogTitle">@item.BlogTitle</td>
                                <td class="blog-description" data-full="@item.MetaTitle">@item.MetaTitle</td>
                                <td class="blog-description" data-full="@item.BlogCategoryName">@item.BlogCategoryName</td>
                                <td class="blog-description" data-full="@item.MetaDescription">@item.MetaDescription</td>
                                <td class="blog-description" data-full="@item.Slug">@item.Slug</td>
                                <td><img src="~/Content/Blog_Uploaded_Image/@item.Blog_Img" style="width:60px;" /></td>
                                <td>@item.Created_dt</td>
                                <td class="blog-description" data-full="@item.BlogDescription">@item.BlogDescription</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <form action="/Admin/Delete_Blog" method="post">
                                            <input type="hidden" name="BlogID" value="@item.BlogID" />
                                            <button class="btn btn-danger" onclick="confirm('Are yor sure want to delete')"><i class="fa-solid fa-trash"></i></button>
                                        </form>

                                        <a href="@Url.Action("EditBlog","Admin",new {Id=item.BlogID})" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>

                                    </div>
                                </td>

                            </tr>
                            SrNo++;
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<span class="text-danger">@ViewBag.ErrorMessage </span>

<script>

             @if (TempData["Msg"] != null)
             {
    <text>
        Swal.fire({
            icon: 'success',
            title: 'Delete',
            text: '@TempData["Msg"] ',
            timer: 2000,
            showConfirmButton: false
        });
    </text>
}

                 @if (TempData["Success"] != null)
             {
    <text>
        Swal.fire({
            icon: 'success',
            title: 'Update',
            text: '@TempData["Success"] ',
            timer: 2000,
            showConfirmButton: false
        });
    </text>
}
 //DataTableSimple
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('.btn-success').addEventListener('click', function () {
            var table = document.getElementById('datatablesSimple');
            var wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
            XLSX.writeFile(wb, "Enquiry_List.xlsx");
        });
    });
</script>