
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var categories = ViewBag.Category as List<BarrownzUS.Models.BlogCategory>;
}
<div class="container-fluid p-0">
    <div class="blog_helo_Details py-5 px-lg-5 px-3 position-relative text-white">
        <!-- Overlay shadow -->
        <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>

        <!-- Text Content -->
        <div class="container d-flex align-items-center our_blogs w-auto position-relative ">
            <p class="mb-0 fw-bold fs-5 hover-underline">
                <i class="fa-solid fa-blog text-white border p-2"></i> @Model.BlogCategoryName
            </p>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_Details_holder  p-4">
                    <div class="show_types">  <span class="bg-primary text-white One_categories p-1">@Model.BlogCategoryName</span></div>
                    <h4 class="fw-bold mt-2">@Model.BlogTitle</h4>
                    <p class="One_categories text-primary"><i class="fa-solid fa-clock"></i> @Model.Created_dt</p>
                    <div class="Blog_Image">
                        <img src="~/Content/Blog_Uploaded_Image/@Model.Blog_Img" class="img-fluid">
                    </div>
                    <div class="only_Text_heading mt-3">
                        @Html.Raw(Model.BlogDescription)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sticky_section_2">
                    <div class=" blog_Details_holder p-5">
                        <h4 class="fw-bold">Categories</h4>
                        <ul>
                            @foreach (var cate in categories) {
                                <li>@cate.BlogCategoryName</li>
                            }
                        </ul>
                    </div>
                    <div class="blog_Details_holder p-5 mt-2">
                        <h5 class="fw-bold">Font Size</h5>
                        <div class="Text-slider-wrapper ">
                            <input type="range" class="text-primary" min="0" max="100" value="0" id="progressSlider">
                        </div>

                        <div class="w-25 border p-1 d-flex align-items-center justify-content-center"><span id="font_size">0</span> px</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const slider = document.getElementById('progressSlider');
    const texts = document.querySelectorAll('.only_Text_heading>p');
    var value_in_px = document.getElementById('font_size');

    slider.addEventListener('input', () => {
        const value = parseInt(slider.value); // 0 to 100
        const minSize = 16;
        const maxSize = 25;


        const newSize = minSize + (value / 100) * (maxSize - minSize);
        texts.forEach(text => {
            text.style.fontSize = newSize + 'px';
        });

        value_in_px.textContent = value;
    });
</script>
