
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid p-0">
    <div class="blog_helo py-5 px-lg-5 px-3 position-relative text-white">
        <!-- Overlay shadow -->
        <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>

        <!-- Text Content -->
        <div class="container d-flex align-items-center our_blogs w-auto position-relative ">
            <p class="mb-0 fw-bold fs-5 hover-underline">
                <i class="fa-solid fa-caret-right text-white"></i> <span class="O_letter text-decoration-underline fs-1 ">O</span>ur Blog's
            </p>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="container">
        <h2 class="mb-4 text-decoration-underline">My Blog's</h2>
        <p>A blog is a regularly updated website containing articles or posts, often with a conversational or informal tone. Blogs can cover a wide range of topics and often include text, images, and links to other websites. They can serve as online journals, personal diaries, or platforms for sharing information and opinions. </p>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs" id="blogTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="blog1-tab" data-bs-toggle="tab" data-bs-target="#blog1" type="button" role="tab">Blog1</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="blog2-tab" data-bs-toggle="tab" data-bs-target="#blog2" type="button" role="tab">Blog2</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="blog3-tab" data-bs-toggle="tab" data-bs-target="#blog3" type="button" role="tab">Blog3</button>
                    </li>

                </ul>
                <!-- Tab Content -->
                <div class="tab-content mt-4" id="blogTabContent">

                    <!--All blog tabs-->
                    <div class="tab-pane fade show active" id="all" role="tabpanel">
                        <div class="container-fluid px-0">
                            <div class="row gap-4 gap-lg-0 gap-md-0">
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100 mt-3">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/code.png" class="img-fluid position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>

                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i>  05/09/2025 11:55 AM</p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100 mt-3">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100 mt-3">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/code.png" class="img-fluid position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i>  05/09/2025 11:55 AM</p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100 mt-3">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Blog'One-->
                    <div class="tab-pane fade" id="blog1" role="tabpanel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Blog'Two-->
                    <div class="tab-pane fade" id="blog2" role="tabpanel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Blog'Three-->
                    <div class="tab-pane fade" id="blog3" role="tabpanel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="Card_box border w-100">
                                        <div class="Blog_Inage position-relative">
                                            <img src="~/Content/icon_image/design.png" class="img-fluid  position-relative" alt="Blog_image" />
                                            <div class="link-secondary_icons position-absolute">
                                                <a href="@Url.Action("BlogDetails","Home")" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                            </div>
                                            <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">Blog Type</p>
                                        </div>
                                        <div class="blog_title_and_Info p-3">
                                            <div class="Blog_title">
                                                <h4>This Is a first blog</h4>
                                                <p class="p-0 mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> 05/09/2025 11:55 AM </p>
                                            </div>
                                            <p class="py-2">SimpleText allows text editing and text formatting, fonts, and sizes.software </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="container-fluid p-0 sticky_section">
                    <div class="py-5">
                        <h4 class="fw-bold">Visit our Service </h4>

                        <div class="d-flex flex-column gap-2 py-2">
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("SEO_In_Us","Home")" class="fw-bold">Search Engine Optimization</a>
                                <hr class="m-1" />
                            </div>
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("DigitalMarketing_In_Us","Hpme")" class="fw-bold">Digital Marketing</a>
                                <hr class="m-1" />
                            </div>
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("GraphicDesign_Us")" class="fw-bold">Graphic Design</a>
                                <hr class="m-1" />
                            </div>
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("WebsiteDevelopment","Home")" class="fw-bold">Web Development</a>
                                <hr class="m-0" />
                            </div>
                        </div>

                        <div class="categories mt-3">
                            <h4>Categories</h4>
                            <div class="d-flex flex-wrap gap-2">
                                <p class="bg-primary p-1 text-white w-auto One_categories">Categories</p>
                                <p class="bg-primary p-1 text-white w-auto One_categories">All Categories</p>
                                <p class="bg-primary p-1 text-white w-auto One_categories">All Categories</p>
                                <p class="bg-primary p-1 text-white w-auto One_categories">All Categories</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const image_holders = document.querySelectorAll('.Blog_Inage');
    const icon_holders = document.querySelectorAll('.link-secondary_icons');

    image_holders.forEach((image_holder, index) => {
        const icon_holder = icon_holders[index];
        if (icon_holder) {
            image_holder.addEventListener("mouseenter", () => {
                icon_holder.style.display = "flex";
                icon_holder.style.alignItems = "center";
                icon_holder.style.justifyContent = "center";
            });

            image_holder.addEventListener("mouseleave", () => {
                icon_holder.style.display = "none";
            });
        }
    });
</script>
