
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var posts = ((IEnumerable<dynamic>)Model.Posts);
}

<style>
    .Blogdescription {
        width: 295px;
        height:23px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


</style>

<div class="container-fluid p-0">
    <div class="blog_helo py-5 px-lg-5 px-3 position-relative text-white">
        <!-- Overlay shadow -->
        <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>

        <!-- Text Content -->
        <div class="container d-flex align-items-center our_blogs w-auto position-relative ">
            <p class="mb-0 fw-bold fs-5 hover-underline">
                <i class="fa-solid fa-caret-right text-white"></i> <span class="O_letter text-decoration-underline fs-1 ">O</span>ur Blog's
            </p>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="container">
        <h2 class="mb-4 text-decoration-underline">My Blog's</h2>
        <p>A blog is a regularly updated website containing articles or posts, often with a conversational or informal tone. Blogs can cover a wide range of topics and often include text, images, and links to other websites. They can serve as online journals, personal diaries, or platforms for sharing information and opinions. </p>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs" id="blogTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab">All</button>
                    </li>
                    @foreach (var category in Model.Category)
                    {
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab-@category.CategoryID" data-bs-toggle="tab" data-bs-target="#pane-@category.CategoryID" type="button" role="tab">
                                @category.BlogCategoryName
                            </button>
                        </li>
                    }

                </ul>
                <!-- Tab Content -->
                <div class="tab-content mt-4" id="blogTabContent">

                    <!--All blog tabs-->
                    <div class="tab-pane fade show active" id="all" role="tabpanel">
                        <div class="container-fluid px-0">
                            <div class="row gap-4 gap-lg-0 gap-md-0">

                                @foreach (var data in Model.Posts)
                                {
                                    <div class="col-lg-6 col-md-6">
                                        <div class="Card_box border w-100 mt-3">
                                            <div class="Blog_Inage position-relative">
                                                <img src="~/Content/Blog_Uploaded_Image/@data.Blog_Img" class="img-fluid position-relative" alt="Blog_image" />
                                                <div class="link-secondary_icons position-absolute">
                                                    <a href="@Url.Action("BlogDetails","Home",new {Slug=data.Slug})" class="redirection_icon"><i class="fa-solid fa-arrow-up-right-from-square text-white"></i> </a>
                                                </div>
                                                <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">@data.BlogCategoryName</p>

                                            </div>
                                            <div class="blog_title_and_Info p-3">
                                                <div class="Blog_title">
                                                    <h4>@data.BlogTitle</h4>
                                                    <p class="mb-0 Date_time"><i class="fa-solid fa-clock text-primary"></i> @data.Created_dt</p>
                                                </div>
                                                <div class="py-2  d-flex">
                                                    <span class="Blogdescription">
                                                        @Html.Raw(data.BlogDescription)
                                                    </span>
                                                    <span>....</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>

                    <!--Blog'One-->
                    <!-- Tab Panes -->
                 
                        @foreach (var category in Model.Category)

                        {
                            var filterpost = posts.Where(p => p.CategoryID ==category.CategoryID);

                            <div class="tab-pane fade" id="pane-@category.CategoryID" role="tabpanel">
                                <div class="container-fluid">
                                    <div class="row">
                                        @foreach (var post in filterpost)
                                        {
                                            <div class="col-lg-6 col-md-6">
                                                <div class="Card_box border w-100">
                                                    <div class="Blog_Inage position-relative">
                                                        <img src="~/Content/Blog_Uploaded_Image/@post.Blog_Img" class="img-fluid position-relative" alt="Blog_image" />
                                                        <div class="link-secondary_icons position-absolute">
                                                            <a href="@Url.Action("Blogdetails","Home",new {Slug=post.Slug})" class="redirection_icon">
                                                                <i class="fa-solid fa-arrow-up-right-from-square text-white"></i>
                                                            </a>
                                                        </div>
                                                        <p class="position-absolute bg-primary p-1 mt-1 top-0 text-white blog-types">@post.BlogCategoryName</p>
                                                    </div>
                                                    <div class="blog_title_and_Info p-3">
                                                        <div class="Blog_title">
                                                            <h4>@post.BlogTitle</h4>
                                                            <p class="p-0 mb-0 Date_time">
                                                                <i class="fa-solid fa-clock text-primary"></i> @post.Created_dt
                                                            </p>
                                                        </div>
                                                        <div class="py-2  d-flex">
                                                            <span class="Blogdescription">
                                                                @Html.Raw(post.BlogDescription)
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                  
                </div>
            </div>
            <div class="col-lg-3">
                <div class="container-fluid p-0 sticky_section">
                    <div class="py-5">
                        <h4 class="fw-bold">Visit our Service </h4>

                        <div class="d-flex flex-column gap-2 py-2">
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("SEO_In_US","Home")" class="fw-bold">Search Engine Optimization</a>
                                <hr class="m-1" />
                            </div>
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("DigitalMarketing_In_US","Home")" class="fw-bold">Digital Marketing</a>
                                <hr class="m-1" />
                            </div>
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("GraphicDesign_In_US" ,"Home")" class="fw-bold">Graphic Design</a>
                                <hr class="m-1" />
                            </div>
                            <div>
                                <i class="fa-solid fa-arrows-up-down-left-right fs-5"></i>
                                <a href="@Url.Action("WebsiteDevelopment_In_US","Home")" class="fw-bold">Web Development</a>
                                <hr class="m-0" />
                            </div>
                        </div>

                        <div class="categories mt-3">
                            <h4>Categories</h4>
                            <div class="d-flex flex-wrap gap-2">

                                @foreach (var data in Model.Category)
                                {
                                    <p class="bg-primary p-1 text-white w-auto One_categories">@data.BlogCategoryName</p>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //Blog Page
    //This js work Hover image show iconlink for redirect other page
    const image_holders = document.querySelectorAll('.Blog_Inage');
    const icon_holders = document.querySelectorAll('.link-secondary_icons');

    image_holders.forEach((image_holder, index) => {
        const icon_holder = icon_holders[index];
        if (icon_holder) {
            image_holder.addEventListener("mouseenter", () => {
                icon_holder.style.display = "flex";
                icon_holder.style.alignItems = "center";
                icon_holder.style.justifyContent = "center";
            });

            image_holder.addEventListener("mouseleave", () => {
                icon_holder.style.display = "none";
            });
        }
    });
</script>
