@{
    ViewBag.Title = "Best Digital Marketing Company in USA";
    ViewBag.MetaDescription = "We offer expert digital marketing services in USA like SEO, PPC, content creation, and graphic design to attract more customers.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Digital_marketing_hero_sction large_screen d-flex align-items-center justify-content-center flex-column ">
    <div class="layer d-flex align-items-center justify-content-center flex-column">
        <div class="row w-100 px-lg-3">
            <div class="col-lg-6">
                <div class="inner-left-container">
                    <h1 class="first_heading animated zoomIn carousel_text Expert text-white hero_section_PText ">
                        Best Digital Marketing Company in USA
                    </h1>
                    <p class=" text-align-justify first_second text-start animated zoomIn carousel_text text-white  hero_section_PText">Barrownz Group offers top digital marketing services in the USA at affordable prices with 100% success results.</p>

                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</div>


<div class="container-fluid py-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7 bg-primary py-4">
                <div class="Targeted  py-3 px-2">
                    <h2 class="border-bottom text-white">Make the most of Top Digital marketing services in USA</h2>
                    <p class="border-bottom py-2 text-white"><img src="~/Content/img/slist-icon.png" /> Boost brand visibility with targeted, effective digital marketing strategies. </p>
                    <p class="border-bottom py-2 text-white"><img src="~/Content/img/slist-icon.png" />  Increase engagement through personalised content and social media campaigns.</p>
                    <p class="border-bottom py-2 text-white"><img src="~/Content/img/slist-icon.png" />  Drive traffic with SEO, PPC, and influencer marketing techniques.  </p>
                    <p class="border-bottom py-2 text-white"><img src="~/Content/img/slist-icon.png" />  Analyse performance using advanced analytics for continuous improvement.      </p>
                    <p class="border-bottom py-2 text-white"><img src="~/Content/img/slist-icon.png" />  Reach global audiences with cost-effective, scalable marketing solutions.   </p>
                    <p class="border-bottom py-2 text-white"><img src="~/Content/img/slist-icon.png" />  Enhance ROI with data-driven, result-oriented marketing strategies.  </p>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2 text-white">
                        Give us a call for any doubts
                    </h5>
                    <h6 class="text-white mb-0">  <i class="fa-solid fa-phone text-white fs-5"></i>    +1 6507411354</h6>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
                    <form action="@Url.Action("Submit_Data_By_DigitalMarketing_View")" onsubmit="return validate()" method="post">
                        <div class="row g-3">
                            <div class="col-xl-12">
                                <input type="text" class="form-control bg-light border-0" id="name" name="Name" placeholder="Your Name" style="height: 55px;">
                                <span id="name_error" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control bg-light border-0" id="email" name="Email" placeholder="Your Email" style="height: 55px;">
                                <span id="email_error" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <input type="number" class="form-control bg-light border-0" id="number" name="PhoneNumber" placeholder="Your number" style="height: 55px;">
                                <span id="number_error" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <select class="form-select bg-light border-0" id="option" name="Service" style="height: 55px;">
                                    <option selected>Select A Service</option>
                                    <option>Web development</option>
                                    <option>SEO Optimization</option>
                                    <option>Digital Marketing</option>
                                    <option>Graphic design</option>
                                </select>
                                <span id="option_error" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-light border-0" id="message" name="Message" rows="3" placeholder="Message"></textarea>
                                <span id="message_error" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" type="submit">Request A Quote</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="container">
        <div>
            <h2>Why Should You Choose Us as the Best Digital Marketing Agency in USA?</h2>
            <p>At our digital marketing agency, we believe in delivering results that matter. Here’s why you should choose us as the <b>Best Digital Marketing Company USA</b></p>
            <h3 class="fw-bold">Proven Success:</h3> <p>Our team has a track record of helping businesses grow online. We’ve worked with many companies, big and small, and helped them improve their online presence.</p>
            <h3 class="fw-bold">Affordable Services:</h3> <p>We offer high-quality digital marketing services at prices that fit your budget. Whether you’re a small business or a large corporation, we provide solutions that won’t break the bank.</p>
            <h3 class="fw-bold">Experienced Team:</h3> <p>Our team of experts has years of experience in SEO, PPC, social media marketing, and more. We know the latest trends and strategies that will help your business succeed online.</p>
            <h3 class="fw-bold">Customized Plans:</h3> <p> We understand that every business is unique. That’s why we create personalized digital marketing plans to suit your goals and target audience.</p>
            <h3 class="fw-bold">Transparency and Communication:</h3> <p>
                We believe in keeping you updated every step of the way. You’ll always know what we’re doing and how it’s helping your business grow.
                <h3 class="fw-bold">Results-Driven:</h3>
            <p> Our main goal is to help your business achieve real, measurable results. Whether it’s more traffic, higher sales, or greater brand awareness, we work to deliver results that matter.</p>
            <p>Choose us today and experience the difference we can make for your business!</p>

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container d-flex align-items-center justify-content-center flex-column ">
        <h2 class="text-center align-items-center justify-content-center py-5">What We Serve</h2>
        <!-- From Uiverse.io by ilkhoeri -->
        <div class="wrapper d-flex align-items-center justify-content-center">
            <div class="inner" style="--quantity: 4;">
                <i class="fa-solid fa-arrows-to-circle fs-1 text-primary"></i>
                <div class="card" style="--index: 0; --color-card: 142, 249, 252;">
                    <div class="d-flex  d-flex align-items-center justify-content-center flex-column ">
                        <div class="service-icon_Box">
                            <i class="fa fa-shield-alt"></i>
                        </div>
                        <h4 style="font-size:12px;">SEO</h4>
                    </div>
                    <p style="font-size:12px; padding:0px 5px;">
                        Boost visibility, drive organic traffic.
                    </p>
                </div>
                <div class="card" style="--index: 1; --color-card: 215, 252, 142;">
                    <div class="d-flex p-2 d-flex align-items-center justify-content-center flex-column">
                        <div class="service-icon_Box">
                            <i class="fa fa-search"></i>
                        </div>
                        <h4 style="font-size:12px;">PPC  </h4>
                    </div>
                    <p style="font-size:12px;">Targeted ads, quick conversions, cost-effective.</p>

                </div>
                <div class="card" style="--index: 2; --color-card: 252, 142, 142;">
                    <div class="d-flex p-2 d-flex align-items-center justify-content-center flex-column">
                        <div class="service-icon_Box">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <h4 style="font-size:12px;">Content Creation</h4>
                    </div>
                    <p style="font-size:12px;">Engaging content builds brand authority.</p>

                </div>
                <div class="card" style="--index: 3; --color-card: 204, 142, 252;">
                    <div class="d-flex p-2 d-flex align-items-center justify-content-center flex-column">
                        <div class="service-icon_Box">
                            <i class="fa-solid fa-pen-nib"></i>
                        </div>
                        <h4 style="font-size:12px;">Graphic Design</h4>
                    </div>
                    <p style="font-size:12px;">Stunning visuals, strong brand identity.</p>

                </div>
            </div>
        </div>


    </div>
</div>
<br />

<!--Boost Your Visibility on Search Engines-->
<div class="container-fluid seo_bck py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="text-center">Want to Grow Your Business Digitally?</h2>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center ">
                <a href="@Url.Action("ContactUs","Home")" class="btn border-primary text-primary d-flex align-items-center justify-content-center" style="height:50px; width:150px;">Contant Us</a>
            </div>
        </div>
    </div>
</div>

<!-- A Promise from Our SEO Team-->
<div class="container-fluid py-5">
    <div class="container">
        <h2><img src="~/Content/img/promiss.png" class="img-fluid" style="width:50px; height:50px;" /> Why Does Your Business Need Us? </h2>
        <p>Your business needs us because we help you grow and succeed online. We offer expert <b>digital marketing services in USA</b> like SEO, PPC, content creation, and graphic design to attract more customers. Our digital marketing team knows the latest trends and strategies to make your brand stand out. We create personalized plans that fit your business goals, whether you’re small or large. We work hard to improve your online presence, drive more traffic, and boost sales. With us, you’ll get real results, better visibility, and a stronger brand. Choose us for a successful digital journey!</p>
    </div>
</div>


<!--Why Choose Techmagnate for SEO Services?-->
<div class="container-fluid py-3">
    <div class="container">
        <h2>Enjoy Our Digital Marketing Services in USA.</h2>
        <p>As the <b>best digital marketing company in USA,</b> we focus on your startup needs and know how to reach your target audience. Our team is available 24/7 to provide full support and answer all your questions about our digital marketing process. We believe in honesty and transparency, so we never make fake promises. Our goal is to help your business grow by using the best strategies in SEO, PPC, content creation, and more. You can trust us to deliver real results, improve your online presence, and make your brand stand out. We’re here to support you every step!.</p>
    </div>
</div>

<!--FAQs-->
<div class="container-fluid py-5">
    <div class="container">
        <h2 class="py-2">FAQs</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        How Can Digital Marketing Help My Business?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> Digital marketing helps your business grow by increasing online visibility, driving traffic to your website, and boosting sales. It connects you with your target audience effectively.</div>
                </div>
            </div><br />
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">

                        Why Should I Choose Barrownz Group?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> We are a trusted digital marketing company in the USA with proven results. Our expert team provides affordable, customized solutions to meet your business needs.</div>
                </div>
            </div><br />
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

                        What Services Do You Offer?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> We offer SEO, PPC, content creation, graphic design, and more to help your business succeed online. Our services are designed to improve visibility and drive results.</div>
                </div>
            </div><br />
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        How Much Do Your Services Cost?
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Our services are affordable and tailored to your budget. We offer different packages based on your business needs, ensuring you get the best value.
                    </div>
                </div>
            </div><br />
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-primary text-white fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        How Do I Get Started?
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> Simply contact us, and our team will guide you through the process. We’ll discuss your business goals, create a personalized plan, and start working to grow your online presence.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Location  -->

<div class="container-fluid py-5">
    <div class="container px-2">
        <div class="text-center">
            <h2 class="py-4">Our Nationwide Presence</h2>
        </div>
        <div class="row d-flex align-items-center justify-content-center gap-4 box_gaps">
            <div class="col-lg-2 col-md-4 ">
                <a href="@Url.Action("DigitalMarketing_In_SouthCarolina","Home")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/South_Carolina.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">South Carolina</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <a href="@Url.Action("DigitalMarketing_In_California")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/California.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">California</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <a href="@Url.Action("DigitalMarketing_In_Florida")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/Florida.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">Florida</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 icon_gaps">
                <a href="@Url.Action("DigitalMarketing_In_Taxes")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/Texas.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">Texas</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 icon_gaps">
                <a href="@Url.Action("DigitalMarketing_In_KansasCity")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/Kansas_City.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">Kansas City</p>
                </a>
            </div>

        </div><br />
        <div class="row d-flex align-items-center justify-content-center gap-4 box_gaps">
            <div class="col-lg-2 col-md-4">
                <a href="@Url.Action("DigitalMarketing_In_LosAngeles")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/Los_Angeles.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">Los Angeles</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4">
                <a href="@Url.Action("DigitalMarketing_In_NewJersey")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/New_Jersey.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">New Jersey</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4">
                <a href="@Url.Action("DigitalMarketing_In_Arizona")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/Arizona.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">Arizona</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 icon_gaps">
                <a href="@Url.Action("DigitalMarketing_In_NewYork")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/New_York.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">New York</p>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 icon_gaps">
                <a href="@Url.Action("DigitalMarketing_In_Pennsylvania")" class="d-flex align-items-center justify-content-center flex-column border">
                    <img src="~/Content/location-icon/Pennsylvania.png" class="img-fluid" style="height:100px; width:100px;" />
                    <p class="text-center">Pennsylvania</p>
                </a>
            </div>

        </div>
    </div>
</div>

<!--This js represent 4 card dragging effect left to right to left-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inner = document.querySelector(".inner");
        const cards = document.querySelectorAll(".card");
        const totalCards = cards.length;
        let isStopped = false;

        cards.forEach((card, index) => {
            card.addEventListener("click", () => {
                // Rotation angle calculate karo
                const angle = 360 / totalCards;
                const rotateTo = -angle * index;

                // Animation rok do
                inner.style.animation = "none";
                isStopped = true;

                // Transform set karo
                inner.style.transform = `perspective(1000px) rotateX(-15deg) rotateY(${rotateTo}deg)`;
            });
        });

        inner.addEventListener("mouseleave", () => {
            if (isStopped) {
                // Mouse leave pe animation wapas start karo
                inner.style.animation = "rotating 10s linear infinite";
                isStopped = false;
            }
        });
    });


    //Sweet alert

      @if (TempData["Msg"] != null)
   {
        <text>
    Swal.fire({
        icon: 'success',
        title: 'Success',
        text: '@TempData["Msg"]',
        timer: 2000,
        showConfirmButton: false
    });
   </text>
   }

   @if (TempData["Error"] != null)
   {
    <text>
      Swal.fire({
          icon: 'error',
          title: 'Login Failed',
          text: '@TempData["error"]',
          timer: 2000,
          showConfirmButton: false
      });
    </text>
    }
</script>